{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static 'html/js/custom.js' %}"></script>

    <link rel="shortcut icon" href="{% static 'html/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'html/css/style.css' %}"/>

    <title>Sell Recording</title>
</head>
<body>
    <header id="top"><h1>
        <a class="link" href="{% url 'home_page' %}">Home Page</a> &nbsp | &nbsp

        <a class="link" href="{% url 'personal_home_page' %}">Personal page</a> &nbsp | &nbsp 

        Welcome: {{ user.username }} <a class="link" href="{% url 'logout' %}">Logout</a>

        </h1>
    </header>

    <hr class="splitter">

    <form action="" id="sellRecording" method="post">
        {% csrf_token %}
        <h2>Sell recording</h2>
        <ul typeof="Offer" vocab="http://schema.org/" >
                <ul rel="itemOffered">
                    <li typeof="MusicGroup">
                       <p>Artist: <input property="genre" type="text" id="artist_rec" content="artistName" name="Artist" placeholder="Artist"></p>

                        <ul rel="track">
                            <li typeof="MusicRecording">
                                <p>Recording: <input property="isrcCode" type="text" id="rec_rec" content="recordingName" name="Recording" placeholder="Recording"></p>
                            </li>
                        </ul>
                    </li>
                </ul>
             <ul rel="review">
                    <li typeof="Review">
                        <p>Description: <textarea property="reviewBody" id="desc_rec" content="DescriptionSell" name="Desc" rows="1" cols="10" placeholder="Description"></textarea></p>
                        <p class="hidden" property="author" content="author"></p>
                    </li>
             </ul>
            <p>Price: <input property="price" type="text" id="price_rec" content="priceSell" name="Price" placeholder="Price"> </p>
        </ul>
        <button class="button" type="submit"  value="Sell"></button>
    </form>


    <div id="outt"></div>
</body>
</html>